@model  List<MI.Core.Domain.DormitoryMaintenance>
@using MI.Core.Domain;
@{
    Layout = null;
    List<SType> Buttlist = ViewBag.ButtItem;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>宿舍维修</title>
    <link href="~/Css/printCss.css" rel="stylesheet" />
</head>
<body>
    <input style="margin:10px auto 10px 20px" type="button" value="打印" onclick="printData()" class="noPrint" />
    <div class="oacentbox">
        <!--startprint-->
        <div class="panel panel-default">
            <div class="panel-heading">宿舍维修</div>
            <div class="table-responsive">
                <table class="table table-hover table-striped" cellspacing="0">
                    <thead style="display: table-header-group; font-weight: bold">
                        <tr>
                            <td>序号</td>
                            <td>社区</td>
                            <td>楼栋</td>
                            <td>房间号</td>
                            <td>登记人</td>
                            <td>QQ</td>
                            <td>维修方式</td>
                            <td>维修内容(中)</td>
                            <td>维修内容(英)</td>
                            <td>对接</td>
                            <td>维修派件日期</td>
                            <td>最终完成时间</td>
                            <td>维修费用</td>
                            <td>确认(员工)</td>
                            <td>缴费状态</td>
                            <td>缴费人</td>
                            <td>备注</td>
                            <td>操作人</td>
                            <td>操作时间</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int iIndex = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr @Html.Raw(iIndex % 22 == 0 ? "style='page-break-after:always;'" : "")>
                                <td>@iIndex </td>
                                <td>@item.t_dormitory.f_Community </td>
                                <td>@item.t_dormitory.f_Building</td>
                                <td>@item.t_dormitory.f_RoomNo</td>
                                <td>@item.f_Registrant</td>
                                <td>@item.f_QQNo </td>
                                <td>@(item.f_serviceWay != null ? Enum.GetName(typeof(serviceWay), item.f_serviceWay) : "")</td>
                                <td>@item.f_ContentCh</td>
                                <td>@item.f_ContentEn</td>
                                <td>
                                    @if (Buttlist.Where(p => item.f_Butt.Contains(p.f_value)).ToList().Count > 0)
                                    {
                                        foreach (var buttType in Buttlist.Where(p => item.f_Butt.Contains(p.f_value)).ToList())
                                        {
                                            @(buttType.f_value + "/")
                                        }
                                    }
                                    else
                                    {
                                        @(item.f_Butt)
                                    }
                                </td>
                                <td>@(item.f_SendDate != null ? item.f_SendDate.Value.ToString("yyyy-MM-dd") : "")</td>
                                <td>@(item.f_LastFinishDate != null ? item.f_LastFinishDate.Value.ToString("yyyy-MM-dd") : "")</td>
                                <td>@item.f_MaintFee </td>
                                <td>@item.f_IsOK_emp </td>
                                <td>@((item.f_PaymentStatus ?? false) ? "已缴费" : "未缴费")</td>
                                <td>@item.f_Payers</td>
                                <td>@item.f_Remarks </td>
                                <td>@item.f_operator</td>
                                <td>@Html.Raw(item.f_operatorTime?.ToString("yyyy-MM-dd<br />hh:mm:ss"))</td>
                            </tr>
                            iIndex++;
                        }

                        @if (Model == null || Model.Count == 0)
                        {
                            <tr>
                                <td colspan="17" align="center">没有数据</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--endprint-->
    </div><!-- /.oacentbox-->
</body>
</html>

<script type="text/javascript">
    var HKEY_Root, HKEY_Path, HKEY_Key;
    HKEY_Root = "HKEY_CURRENT_USER";
    HKEY_Path = "\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";
    //设置网页打印的页眉页脚为空
    function PageSetup_Null() {
        try {
            var Wsh = new ActiveXObject("WScript.Shell");
            HKEY_Key = "header";
            Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "");
            HKEY_Key = "footer";
            Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "");
        }
        catch (e)
        { }
    }
    //设置网页打印的页眉页脚为默认值
    function PageSetup_Default() {
        try {
            var Wsh = new ActiveXObject("WScript.Shell");
            HKEY_Key = "header";
            Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "&w&b页码,&p/&P");
            HKEY_Key = "footer";
            Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "&u&b&d");
        }
        catch (e)
        { }
    }
    function printData() {
        PageSetup_Default();
        bdhtml = window.document.body.innerHTML;
        sprnstr = "<!--startprint-->";
        eprnstr = "<!--endprint-->";
        prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
        prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML = prnhtml;
        window.print();
        window.document.body.innerHTML = bdhtml;
    }

</script>

