@model List<MI.Core.Domain.DormitoryMaintenance>
@using MI.Application.Dto;
@{
    ViewBag.Title = "登记查询";
    int iCurrentPage = ViewBag.iPageIndex;
    int iPageSize = ViewBag.iPageSize;
    int iTotalCount = ViewBag.iCount;
}


<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)">登记查询</a></li>
        <li class="active">维修查询</li>
    </ol>
    <ul class="nav nav-tabs">
        @Html.Partial("FeeSearchNavMeuns", "维修查询")
    </ul>
    <div class="oacentbox">
        <div class="panel panel-default">
            <div class="panel-heading">维修查询</div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>登记人</th>
                            <th>社区</th>
                            <th>楼栋</th>
                            <th>房号</th>
                            <th>报修项目</th>
                            <th>维修方式</th>
                            <th>维修费用(P)</th>
                            <th>缴费状态</th>
                            <th>缴费人</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.f_Registrant </td>
                                <td>@item.t_dormitory.f_Community</td>
                                <td>@item.t_dormitory.f_Building</td>
                                <td>@item.t_dormitory.f_RoomNo</td>
                                <td>@item.f_ContentCh </td>
                                <td>@(item.f_serviceWay != null ? Enum.GetName(typeof(serviceWay), item.f_serviceWay) : "")</td>
                                <td>@item.f_MaintFee </td>
                                <td>@((item.f_PaymentStatus ?? false) ? "√" : "×")</td>
                                <td>@item.f_Payers </td>

                            </tr>
                        }

                        @if (Model == null || Model.Count == 0)
                        {
                            <tr>
                                <td colspan="9" align="center">没有数据</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- /.panel-default/ table-->
        <div class="fenyediv">
            <ul class="pagination">
                @Html.PageList(iCurrentPage, iPageSize, iTotalCount, "")
            </ul>
        </div><!-- /.fenyediv-->

    </div><!-- /.oacentbox-->

</div>
<script type="text/javascript">
    function changeState() {
        $.ajax({
            type: "post",
            url: '@Url.Action("ChangeState")',
            data: { tableName: "维修查询" },
            success: function (data) {
                //TODO
            }
        });
    }

    $(function() {
        //  setTimeout(changeState, 1000);  //延迟加载了为了避免点登记查询时默认进入的员工租房的提示变化太快，页面看不到员工租房的提示
        changeState();

    });

</script>