@model List<MI.Core.Domain.Notice>

@{
    ViewBag.Title = "公告管理";
}
<!--新增开始-->
<div class="addbg">
    <div class="addtable">
    </div><!-- /.addtable-->
</div>
<!--主页显示开始-->
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)">公告管理</a></li>
        <li class="active"></li>
    </ol>
    <div class="oacentbox">
        <div class="oatiaojian container-fluid">
            <button type="submit" class="btn btn-primary" id="searchicon"><span class="glyphicon glyphicon-search" aria-hidden="true" style="font-size: 16px;"></span></button>
            <div class="taiojianli_right">
                <button type="button" id="btn-xinzeng" onclick="Update('0')" class="btn btn-primary">新增</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">公告管理</div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>公告类型</th>
                            <th style="width:57%">公告内容</th>
                            <th>添加日期</th>
                            <th>添加人</th>
                            <th>有效开始日期</th>
                            <th>有效结束日期</th>
                            <th style="width:12%;" class="caozuotd">操&nbsp;&nbsp;作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 0; }
                        @foreach (var m in Model)
            {
                            <tr style="@(m.f_IsTop? "" : "background-color:#d9edf7;")">
                                <td>@count</td>
                                <td>@(m.f_Type ? "紧急通知" : "一般公告")</td>
                                <td>@Html.Raw(m.f_Content.Replace("\r\n", "<br/>"))</td>
                                <td>@m.f_AddDate.ToString("yyyy-MM-dd")</td>
                                <td>@m.f_Registrant</td>
                                <td>@(m.f_StartDate == DateTime.MinValue ? "" : m.f_StartDate.ToString("yyyy-MM-dd"))</td>
                                <td>@(m.f_EndDate == DateTime.MinValue ? "" : m.f_EndDate.ToString("yyyy-MM-dd"))</td>
                                <td>
                                    <a href="javascript:" class="btn btn-info btn-sm" onclick="IsTopClick('@m.f_Id','@(m.f_IsTop.ToString())')">@(m.f_IsTop ? "置顶" : "取消置顶")</a>
                                    <a href="javascript:" id="btn-xinzeng" class="btn btn-info btn-sm" onclick="Update('@m.f_Id')">修改</a>
                                    <a href="javascript:" class="btn btn-danger btn-sm" onclick="Delete('@m.f_Id')">删除</a>
                                </td>
                            </tr>
                            count++;
                        }
                        @if (Model == null || Model.Count == 0)
                        {
                            <tr>
                                <td colspan="20" align="center">没有数据</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--主页显示结束-->
<script type="text/javascript">
    function Update(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Edit")',
            data: { iId: id },
            error: function (data) {
            },
            success: function (data) {
                if (data != null) {
                    $(".addtable").html(data);
                }
            }
        })
        $("div.addbg").show(200);
    }
    function Delete(id) {
        if (confirm("是否确定删除？")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: { Id: id },
                error: function(data) {
                    //location.href = '@Url.Action("Error", "Login")'
                },
                success: function(data) {
                    if (data != null) {
                        if (data == "1") {
                            alert("删除成功");
                            location.href = location.href;
                        } else if (data == "500") {
                            alert("删除异常");
                        }
                    }
                }
            });
        }
    }
    function IsTopClick(id, istop) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("IsTop")',
            data: { Id: id, IsTop: istop },
            error: function(data) {
            },
            success: function(data) {
                if (data != null) {
                    location.href = location.href;
                }
            }
        });
    }
</script>
