@using MI.Application.Dto;
@using MI.Core.Domain;
@model PageListDto<FlightFeeListDto>

@{
    ViewBag.Title = "Index";
    var input = ViewBag.InputSearch as FlightFeePagedInputDto;
    var workLocation = ViewBag.WorkLocation as IList<SType>;
}
@section Styles{
    <link href="~/Css/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
}
<div class="addbg">
    <div class="addtable">
        <button type="button" id="btn-cancel" onclick="closeADDwindow()" class="btn btn-danger closebtn">取消（X）</button>
        <div class="panel panel-default">
            <div class="panel-heading">员工机票差额</div>
            <div class="table-responsive">
                <form id="formTable" method="post">
                    <table class="table table-hover table-striped">
                        <tr>
                            <td>员工:</td>
                            <td>
                                <input type="text" class="form-control" id="ChineseName" autocomplete="off" data-provide="typeahead" placeholder="请输入中文名/昵称/护照名" name="f_chineseName" />
                                <input type="hidden" id="EId" name="f_eid"  />
                            </td>
                        </tr>
                        <tr>
                            <td>机票差额:</td>
                            <td><input type="text" class="form-control" id="Amount" name="f_Amount" /></td>
                        </tr>
                        <tr>
                            <td>航班日期:</td>
                            <td><input type="text" class="form-control" id="FlightDate" name="f_FlightDate" /> </td>
                        </tr>
                        <tr>
                            <td>航班:</td>
                            <td><input type="text" class="form-control" id="Flight" name="f_Flight"  /></td>
                        </tr>
                        <tr>
                            <td>起止地点:</td>
                            <td><input type="text" class="form-control" id="StartEndAdd" name="f_StartEndAdd"  /></td>
                        </tr>
                        <tr>
                            <td>是否缴费:</td>
                            <td>
                                <input type="radio" name="f_IsPay" value="true" />是
                                <input type="radio" name="f_IsPay" value="false" />否
                               
                            </td>
                        </tr>
                        <tr>
                            <td>收款地点：</td>
                            <td>
                                <div class="dropdown" style="position:absolute;margin-top:-7px;">
                                    @Html.Hidden("f_AddressId", 0, new { @correspond = "dropdownMenu3" })
                                    <button class="btn btn-default dropdown-toggle" style="width:160px" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        请选择
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                        <li><a href="javaScript:" id="0">请选择 </a></li>
                                        @foreach (var item in workLocation)
                                        {
                                            <li><a href="javaScript:" id="@(item.f_tID)">@item.f_value </a></li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>备注:</td>
                            <td><input type="text" class="form-control" id="Remark" name="f_Remark" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <button type="submit" class="btn btn-primary  btn-lg">确认</button>
                                <input type="hidden" id="ID" name="f_ID" />
                            </td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)">费用管理</a></li>
        <li class="active">机票差额</li>
    </ol>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/Dormitory/EmpRent">员工租房</a></li>
        <li role="presentation"><a href="/Dormitory/Grant">外租补助</a></li>
        <li role="presentation"><a href="/Dormitory/Tariff">电费超支</a></li>
        <li role="presentation" class="active"><a href="@Url.Action("Index")">机票差额</a></li>
    </ul>
    <div class="oacentbox">
        <div class="oatiaojian container-fluid">
            <button type="submit" class="btn btn-primary" id="searchicon"><span class="glyphicon glyphicon-search" aria-hidden="true" style="font-size: 16px;"></span></button>
            <div id="searchbox">
                <form class="form-inline">
                    <div class="taiojianli_left">
                        <div class="form-group">
                            <label for="Name">员工：</label>
                            <input type="text" class="form-control" value="@input.Name" id="sName" name="Name" placeholder="中文名/护照名/昵称">
                        </div>
                    </div><!-- /.taiojianli_left-->
                    <div class="taiojianli_left">
                        <div class="form-group">
                            <label for="date_timepicker_start">航班日期：</label>
                            <input type="text" class="form-control" value="@(input.FlightStartDate?.ToString("yyyy-MM-dd"))" id="date_timepicker_start" name="FlightStartDate">
                            <label for="date_timepicker_end">--</label>
                            <input type="text" class="form-control" value="@(input.FlightEndDate?.ToString("yyyy-MM-dd"))" id="date_timepicker_end" name="FlightEndDate">
                        </div>
                    </div><!-- /.taiojianli_left-->
                    <div class="taiojianli_left">
                        <div class="form-group">
                            <div class="dropdown" style="float:left;">
                                <label for="exampleInputName2">缴费状态：</label>
                                <input type="hidden" value="@(input.IsPay)" name="IsPay" id="sIsPay" correspond="dropdownMenuProg" />
                                <button class="btn btn-default dropdown-toggle" style="width:160px" type="button" id="dropdownMenuProg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    @(input.IsPay == 0 ? "未缴费" : input.IsPay == 1 ? "已缴费" : "全部")
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="CommunityClothes" aria-labelledby="dropdownMenuProg" style="margin-left:75px;">
                                    <li><a id="2">全部</a></li>
                                    <li><a id="1">已缴费</a></li>
                                    <li><a id="0">未缴费</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.taiojianli_left-->
                    <div class="taiojianli_left">
                        <button type="submit" class="btn btn-primary">查 询</button>
                    </div><!-- /.taiojianli_left-->
                    <div class="taiojianli_left">
                        <button id="a_export" type="button" class="btn btn-success">导出Excel</button>
                    </div><!-- /.taiojianli_left-->
                </form>
            </div>
            <div class="taiojianli_right">
                <button type="button" id="btn-add" class="btn btn-primary">新增+</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">机票差额</div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>员工</th>
                            <th>机票差额</th>
                            <th>单位</th>
                            <th>航班日期</th>
                            <th>航班</th>
                            <th>起止地点</th>
                            <th>缴费状态</th>
                            <th>收款地点</th>
                            <th>操作人</th>
                            <th style="width:160px;">最后操作时间</th>
                            <th style="width:220px;">备注</th>
                            <th class="caozuotd">操&nbsp;&nbsp;作 </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@i </td>
                                <td>@item.EmployeeName</td>
                                <td>@item.Amount</td>
                                <td>₱</td>
                                <td>@(item.FlightDate!=null&&item.FlightDate!=DateTime.MinValue?item.FlightDate.Value.ToString("yyyy-MM-dd"):string.Empty)</td>
                                <td>@item.Flight </td>
                                <td>@item.StartEndAdd </td>
                                <td>@(item.IsPay ? "√" : "×")</td>
                                <td>@item.Location</td>
                                <td>@item.Operator</td>
                                <td>@item.OperatorTime</td>
                                <td>@item.Remark</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm" data-mark="update" data-id="@item.Id">修改</button>
                                    <button type="button" class="btn btn-danger btn-sm" data-mark="delete" data-id="@item.Id" >删除</button>
                                </td>
                            </tr>
                            i++;
                        }

                        @if (Model == null || Model.Count == 0)
                        {
                            <tr>
                                <td colspan="13" align="center">没有数据</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- /.panel-default/ table-->
        <div class="fenyediv">
            <ul class="pagination">
                @Html.PageList(Model.PageIndex, 10, Model.TotalCount)
            </ul>
        </div><!-- /.fenyediv-->

    </div><!-- /.oacentbox-->

</div>
@section Scripts{
    <script src="~/Scripts/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery-validation/localization/messages_zh.min.js"></script>
    <script src="~/Scripts/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script src="~/Scripts/typeahead/bootstrap3-typeahead.js"></script>
    <script src="~/Scripts/Script_v_1.0/Common/Common.js"></script>
    <script src="~/Scripts/Script_v_1.0/Common/JQueryExtension.js"></script>
    <script src="~/Areas/Dormitory/Views/FlightFee/Index.js"></script>
}



